@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
	font-family: 'Inter', sans-serif;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
}
body {
	color: white;
	background: url('./../assets/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#options ul li {
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
	/* width: fit-content; */
	text-align: center;
	list-style-type: none;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}
#options ul li:hover {
	background: rgba(80, 80, 80, 0.5);
}
.game {
	width: 100%;
	border-radius: 30px;
	padding: 15px;
	background-color: rgba(30, 30, 30, 0.9);
	box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.3);
}
main {
	padding: 2vw 20vw;
}
#question {
	padding: 5px 25px;
	font-size: 1.4rem;
	text-align: justify;
}
#quiz-title {
	font-weight: 700;
	font-size: 3.6rem;
	text-align: center;
	margin-top: 5vh;
	color: white;
}

#question-index {
	margin: auto;
	font-weight: 300;
	text-align: center;
	font-size: 1.4rem;
	width: fit-content;
	padding: 5px 80px;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 30px;
}

#final-gif {
	width: 100%;
	border-radius: 20px;
}
#congrats {
	display: none;
}
#congrats-message {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 10px;
}

#question-img {
	width: 60%;
	border-radius: 10px;
}
#img-box {
	text-align: center;
}
